::-webkit-media-controls {
    display: none !important;
}
::selection {
    background: #605f5c;
    color: #fff;
}
::-moz-selection{
    background: #605f5c;
    color: #fff;
}
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
.reset{
    position: relative;
    clear: both;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    color: #333;
    display: inline-table;
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
    opacity: 0;
}
.audio-control {
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    padding-left: 50px;
    z-index: 2;
}
.audio-player{
    position: relative;
    background: #fff;
    height: 40px;
    width: 450px;
    min-width: 360px;
    box-shadow: 0 0 35px rgba(0,0,0,0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.audio-body{
    z-index: 2;
}
#myAudio{
    position: absolute;
    width: 100%;
    height: 100%;
}
#audio-credits a{
    font-weight: 400;
    color: #333;
    text-decoration: underline;
}
.audio-caption{
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px 0 16px;
    width: 100%;
    padding-left: 66px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    cursor: default;
    color: #363636;
    overflow: hidden;
}
.audio-caption-img{
    position: relative;
    bottom: -2px;
    margin-left: 5px;
    width: 24px;
    height: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}
.audio-control .audio-btn {
    width: 18px;
    height: 18px;
    padding: 10px;
    cursor: pointer;
    float: left;
}
.audio-btn-play{
    float: left;
    height: 40px;
    width: 50px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.audio-current,.audio-duration{
    position: relative;
    box-sizing: border-box;
    height: 12px;
    line-height: 12px;float: left;
    top: 13px;
    margin-left: 10px;
    cursor: default;
    color: #333;
}
.audio-current{
    margin-left: 0;
}
.audio-progressClick {
    width: 100px;
    float: left;
    padding: 14px 0;
    position: relative;
    margin-left: 15px;
    cursor: pointer;
}
.audio-progress {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 19px;
    box-sizing: border-box;
    cursor: pointer;
    background: rgba(180, 180, 180, .4);
    opacity: 1;
    transition: opacity .25s, box-shadow .25s;
}
.audio-progress span {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.audio-timeBar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 10;
    width: 0;
    background: #ff5c18;
}
.audio-timeMax {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ff5c18;
    z-index: 20;
}
.audio-showBar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #FF803E;
    z-index: 6;
}
.audio-btn_title {
    position: absolute;
    top: -30px;
    padding: 8px 12px;
    text-shadow: 0 1px 2px #222;
    background: rgba(25,25,25,.9);
    border-radius: 5px;
    font-weight: 400;
    color: #eee;
    display: none;
}
#audio-showed_time{
    position: absolute;
    bottom: 24px;
    left: 0;
    padding: 6px 12px;
    background: #f15518;
    font-weight: 400;
    border-radius: 15px 15px 15px 0;
    display: none;
}
.audio-volume_div{
    position: relative;
    float: left;
    height: 100%;
}
.audio-volume {
    position: relative;
    width: 40px;
    height: 2px;
    padding: 5px 15px 35px 5px;
    margin-top: 15px;
}
.audio-volumeBar {
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ff5c18;
}
.audio-volumeBg {
    position: absolute;
    top: -10px;
    left: 0;
    width: 70px;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
}
.audio-volumeMax {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 12px;
    height: 12px;
    background: #ff5c18;
    border-radius: 50%;
}
.audio-volumeBar_bg {
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(180, 180, 180, .4);
    cursor: pointer;
}
.audio-panel{
    left: 0;
    position: absolute;
    width: 50px;
    height: 100px;
    background: #eb4300;
    color: #fff;
}
.audio-playing{
    position: relative;
    height: 40px;
    width: 50px;
}
.audio-playing1,.audio-playing2{
    position: absolute;
    top: 0;
    left: 0;
}
.audio-playing1{
    display: none;
}
.audio-playing2{
    display: block;
}
.audio-playing{
    box-sizing: border-box;
    height: 50px;
    cursor: default;
}
.audio-playing img{
    width: 100%;
    height: 100%;
    line-height: 100%;
    box-sizing: border-box;
    text-align: center;
}
.audio-loop-div{
    position: relative;
    cursor: pointer;
    float: left;
}
.audio-loop-div img{
    width: 18px;
    height: 18px;
}
.audio-cover{
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.audio-cover img{
    position: relative;
    width: 100%;
    min-height: 100%;
    height: auto;
}
.audio-playlist{
    position: relative;
    width: 100%;
    top: -17px;
    margin-top: 40px;
    z-index: 1;
    max-height: 184px;
    overflow-y: auto;
    overflow-x: auto;
}
.audio-playlist::-webkit-scrollbar {
    background-color: #4a4a4a;
    width: 10px;
}
.audio-playlist::-webkit-scrollbar-thumb:vertical{
    background: #2a2a2a;
    border-radius: 2px;
}
.audio-playlist::-webkit-scrollbar-thumb:vertical:hover{
    background: #1a1a1a;
}
.audio-playlist-item{
    position: relative;
    width: 100%;
    height: auto;
    background: #4a4a4a;
    color: #fff;
    cursor: pointer;
    display: inline-table;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 50px;
    padding-top: 20px;
    float: none;
    transition: background .25s;
}
.audio-playlist-item:hover{
    background: #3a3a3a;
}
.audio-playlist-item-active{
    background: #3a3a3a;
}
.audio-playlist-title{
    font-weight: 400;
    display: inline-table;
    margin-top: 10px;
    /* padding: 30px; */
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    top: -8px;
    line-height: 14px;
    /* margin-left: 10px; */
    font-size: 14px;
}
.audio-playlist-item img{
    width: 30px;
    height: 24px;
    top: -8px;
    left: -40px;
    /* padding: 5px 0; */
    display: inline;
    /* padding-bottom: 10px; */
    /* height: 50px; */
    position: absolute;
}
.audio-playlist-item span{
    display: inline;
    position: relative;
}
.audio-playlist-id{
    display: none;
    opacity: 0;
}